<section>
  <div class="container">
    <input type="password" (input)="handleInputChange($event)">
    <div class="strength">
      <div class="level" [ngClass]="{
        'red': strength == 'very weak', 
        'green': strength == 'strong'}">Strong</div>
      <div class="level" [ngClass]="{
        'red': strength == 'very weak', 
        'yellow': strength == 'medium', 
        'green': strength == 'strong'}">Medium</div>
      <div class="level" [ngClass]="{
        'red': strength == 'very weak' || strength == 'weak', 
        'yellow': strength == 'medium',
        'green': strength == 'strong'
        }">Weak</div>
    </div>
  </div>
</section>