.container{
    width: 50%;
    height: 65%;
        
    max-width: 700px;
    max-height: 910px;
    min-width: 280px;
    min-height: 300px;

    background-color: #8ca9a0;
    border-radius: 20px;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    box-shadow: 5px 5px 5px #c8c8c8;
}

input{
    width: 70%;
    height: 40px;

    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 0;

    margin-top: auto;

    font-size: 1.4em;
    text-align: center;
}

section{
    height: 90vh;

    display: flex;

    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

p{
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    border-radius: 5px;
    background-color: aqua;
}

.strength{
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif;

    margin-top: auto;
    margin-bottom: auto;
    background-color: #c8c8c8;

    width: 30%;
    height: 30%;
    min-width: 150px;
    min-height: 120px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.strength .level {
    flex: 1;
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.red{
   background-color: #da1301b7;
}

.yellow{
    background-color: #f8db1ce4;
}

.green{
    background-color: #93bd46ee;
}

.strength .level:nth-child(1){
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.strength .level:nth-child(3){
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
